<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login Veterinaria</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div class="login-box">
    <h2>Inicio de Sesión para Unidos por los Animales</h2>

    <input type="text" id="username" placeholder="Usuario">
    <input type="password" id="password" placeholder="Password">

    <button type="button" onclick="login()">Login</button>
</div>

<script>
function login() {

    fetch('http://localhost:8180/login', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            username: document.getElementById("username").value,
            password: document.getElementById("password").value
        })
    })
    .then(async res => {

        if (!res.ok) {
            const error = await res.text();
            alert("Login incorrecto: " + error);
            return;
        }

        return res.text();
    })
    .then(token => {

        if(token){
            localStorage.setItem("token", token);
            window.location.href = "/dashboard";
        }
    })
    .catch(error => {
        console.error(error);
        alert("Error al iniciar sesión");
    });
}
</script>

</body>
</html>